name: Release Charts

on:
  push:
    branches:
      - main
      - ci-testing

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install helm deps
        run: |
          helm dependency build "${GITHUB_WORKSPACE}/charts/common"
      - name: Prepare fixture dependencies
        run: |
          COMMON_VERSION=$(awk -F': ' '/^version:/ {print $2}' charts/common/Chart.yaml)
          bash scripts/update-fixture-charts.sh "$COMMON_VERSION"
      - name: Test
        run: |
          make test

  security:
    runs-on: ubuntu-latest
    container:
      image: snyk/snyk:node
      volumes:
        - ${{ github.workspace }}:/helm_charts
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        run: |
          apt-get update
          apt-get -y install curl
          curl -fsSL https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Snyk IAC test
        env:
          SNYK_TOKEN : ${{ secrets.SNYK_TOKEN }}
        run: |
          helm dependency update ./test/fixtures/microservice/
          helm template -f ./test/fixtures/microservice/values-basic.yaml ./test/fixtures/microservice/ > ./output.yaml
          snyk iac test ./output.yaml

  release:
    needs: [test, security]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install helm deps
        run: |
          helm dependency build "${GITHUB_WORKSPACE}/charts/common"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
